@page {
    size: A4 landscape;
	margin: 6% 6% 6% 6%;
	@bottom-right {
		border-top: 0.1mm solid #929292;
		font-family: Open Sans;
		font-size: 10pt;
		color: #767676;
		padding: 0;
		content: 'Seite ' counter(page) ' von ' counter(pages);
	}
}
@page:first {
	margin-top: 0;
}
.footer-left {
	padding: 15px 0;
}